* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

body {
    background: url(http://getwallpapers.com/wallpaper/full/2/e/f/1154116-star-wars-1080p-wallpaper-1920x1080-for-windows.jpg);
    color: white;
}

header {
    /*border: 1px solid white;*/
    border-radius: 50px;
    margin-top: 5vh;
    margin-left: 2%;
    margin-right: 2%;
    /*background: white;*/
}

.Navigation {
    border-bottom: 1px solid white;
    /*border-bottom-left-radius: 50px;*/
    /*border-bottom-right-radius: 50px;*/
    /*border-width: 0px 50px 1px 50px;*/
}

.Navigation ul {
    list-style-type: none;
}

.Navigation ul li {
    display: inline-block;
}

.Navigation ul li a {
    text-decoration: none;
    color: white;
    padding: 25px 100px;
    border-spacing: 0px;
    display: inline-block;
    transition: background-color 0.5s;
}

.Navigation ul li a:hover {
    background-color: white;
    color: black;
}

ul li a.active {
    background-color: white;
    color: black;
    transition: 0s ease-in;
}

.dataatas {
    margin-left: 2%;
    margin-top: 10vh;
}

.datatengah {
    display: flex;
    white-space: nowrap;
    margin-left: 50px;
    margin-top: 1vh;
    margin-bottom: 15vh;
}

.data {
    margin-left: 20px;
    margin-top: 5vh;
}

.socmedList ul {
    list-style-type: none;
    text-align: center;
    padding: 25vh 0px;
}

.socmedList ul li {
    display: inline-block;
}

.socmedList ul li a {
    border-radius: 20px;
    border-bottom: 1px solid white;
    padding: 100px 7vw 1px 7vw;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    color: white;
    transition: background 0.3s ease-in;
    text-decoration: none;
    border-spacing: 0px;
    margin-right: 50px;
    margin-left: 50px;
    /*background: black;*/
}

.facebook:hover {
    background: #3b5998;
}

.twitter:hover {
    background: #00acee;
}

.instagram {
    position: relative;
    z-index: 1;
}

.instagram::before {
    position: absolute;
    border: 1px solid transparent;
    border-radius: 20px;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient( to bottom left, #DD2A7B, #F58529);
    z-index: -1;
    transition: opacity 0.3s linear;
    opacity: 0;
}

.instagram:hover::before {
    opacity: 1;
}

.datatengah img {
    height: 40vh;
    align-items: center;
}

.hobbyList ul {
    margin-left: 40px;
    list-style-type: none;
}